{% extends 'base.html' %}

{% block title %}
    {{ block.super.title }} : Добавление новости
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<h1>Добавление новости</h1>

<form method="post" style="display: block; max-width: 520px; margin: 50px auto;" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
<button type="submit" class="'btn btn-info btn-block">Добавить новость</button>
</form>

{% endblock %}
